.time, .date{
    font-family: "Montserrat";
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
.date{
    font-size: 20px;
    margin-top: 5px;
    font-weight: 600;
    color: #343434;
}