.App{
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1300px) {
    .App{
        padding: calc(10px + (50 - 10) * ((100vw - 320px) / (1200 - 320)))
    }
}